header {
  display: inline-block;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  background-color: var(--bg-bg);
  justify-content: space-between;
  padding: 1%;
}

#options {
  display: flex;
  margin-right: 5%;
  color: var(--main-text);
}

.option-items {
  margin-right: 6%;
  font-weight: 100;
}

#brand {
  color: var(--bs-white);
  display: flex;
}

:root {
  --bg-bg: rgb(18,18,18);
  --main-text: white;
}

.intro {
  background: var(--bg-bg);
  display: flex;
  padding: 2% 0 0 0;
}

#right-img {
  width: 61%;
  flex-grow: 2;
  text-align: center;
}

#left-text {
  flex-grow: 1;
  width: 41%;
  margin-top: 5%;
  /*margin-left: 9%;*/
  padding-left: 8%;
  font-family: 'Roboto';
}

#main-image {
  height: auto;
  width: 46%;
}

#left-text h1 {
  color: var(--main-text);
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Roboto';
  /*width: 80%;*/
}

#left-text h2 {
  font-weight: 100;
  color: var(--main-text);
  font-family: 'Roboto';
}

#confirm-btn {
  background-color: rgb(232,79,62);
  border: rgb(232,79,62);
  height: 11%;
}

#left-text input {
  background-color: var(--main-text);
  width: 60%;
  border: var(--bs-gray-100);
  height: 11%;
}

.features-container {
  background: var(--bg-bg);
  margin-top: 1%;
}

.section-heading {
  color: var(--main-text);
  font-size: 5rem;
  margin-left: 10%;
  font-family: 'Roboto';
  padding-top: 2%;
  font-weight: 800;
  /*filter: drop-shadow(30px 10px 4px #4444dd);*/
  text-shadow: 1px 6px rgb(166,165,165);
}

.feature-box {
  width: 25%;
  /*background-color: #e84f3e;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3%;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3%;
}

.feature-box img {
  height: auto;
  /*width: 15rem;*/
  width: 18vw;
}

#feature1-img{
  width: 16vw;
}

#feature3-img {
  height: auto;
  /*width: 20rem;*/
  padding-top: 14%;
  width: 23vw;
}

.feature-box h1 {
  color: var(--main-text);
  font-weight: 500;
  font-family: 'Roboto';
}

.feature-box p {
  color: var(--main-text);
  font-weight: 100;
  font-family: 'Roboto';
}

#specification-container {
  /*background-color: #e84f3e;*/
  display: flex;
  padding-top: 4%;
}

.specification-text {
  padding: 0 6% 3% 3%;
  max-width: 50%;
}

.specification-text h1 {
  font-family: 'Roboto';
  color: var(--main-text);
  font-size: 3rem;
  font-weight: 900;
}

#spec-img {
  height: auto;
  width: 50%;
  max-height: 540px;
  padding: 0 4% 5% 5%;
  /*border-radius: 13%;*/
  /*border-radius: 116px 116px 116px 116px;*/
}

.specification-text h3 {
  color: rgb(122,122,122);
  font-family: 'Roboto';
  font-weight: 400;
}

.specification-text p {
  color: var(--main-text);
  padding-top: 2%;
}

yt-video {
  background-color: var(--bg-bg);
  width: 100%;
  height: 10rem;
}

.price-section {
  background-color: var(--bg-bg);
  padding-top: 2%;
}

.pricing-container {
  display: flex;
  justify-content: space-evenly;
}

.pricing-box {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  /*padding: 1% 2% 2% 2%;*/
}

.pricing-box h1 {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 3%;
  font-size: 3vw;
}

.pricing-box h2 {
  padding: 7%;
  font-family: 'Roboto';
  color: var(--main-text);
}

.pricing-box p {
  color: var(--main-text);
  text-align: center;
  padding: 2% 2% 8% 2%;
}

.pricing-box button {
  width: 78%;
  width: 100%;
  background-color: #e84f3e;
  /*border: var(--bs-gray-100);*/
  font-weight: 800;
}

#price-heading {
  color: var(--main-text);
  width: 100%;
  /*background-color: #e84f3e;*/
  text-align: center;
  padding: 3%;
  font-size: 5em;
  text-shadow: 1px 5px rgb(123,123,123);
}

footer {
  background-color: var(--bg-bg);
  padding: 8% 3% 1% 3%;
  text-align: center;
}

.yt-videos {
  background-color: var(--bg-bg);
}

.pricing-box button:hover {
  background-color: #ffffff;
}

.option-items:hover {
  /*color: red;*/
  font-weight: 800;
  cursor: pointer;
}

.option-items a {
  color: var(--main-text);
  text-decoration: none;
}

#header-img {
  height: auto;
  width: 4rem;
}

@media (max-width: 768px) {
  #right-img {
/*     display: none; */
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  #left-text {
    /*justify-content: center;*/
    align-items: center;
    /*background-color: #e84f3e;*/
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    padding-left: 0;
    width: 100%;
  }
}



@media (max-width: 768px) {
  #left-text h1 {
    /*background-color: #e84f3e;*/
    text-align: center;
  }
}

@media (max-width: 768px) {
  #left-text button {
    margin-top: 2%;
    height: 15%;
  }
}

@media (max-width: 768px) {
  .features {
    display: flex;
    flex-direction: column;
    /*background-color: #e84f3e;*/
    align-items: center;
  }
}

@media (max-width: 768px) {
  #specification-container {
    /*background-color: #e84f3e;*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #spec-img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .specification-text {
    min-width: 90%;
    /*background-color: #e84f3e;*/
    padding-left: 5%;
  }
}

@media (max-width: 768px) {
  .feature-box {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .pricing-container {
    display: flex;
    flex-direction: column;
    /*background-color: #e84f3e;*/
    align-items: center;
  }
}

@media (max-width: 768px) {
  .pricing-box {
    width: 50%;
    /*padding-bottom: 5%;*/
    margin-top: 6%;
  }
}

@media (max-width: 484px) {
  #options {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-heading, #price-heading {
    font-size: 3rem;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



.yt-video{
  background-color: var(--bg-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.yt-video iframe{
  height: 40vw;
  width: 90vw;
}

.yt-video h1{
  color: var(--main-text);
  font-size: 5rem;
  font-family: 'Roboto';
  padding-top: 2%;
  font-weight: 800;
  padding-bottom: 2%;
  /*filter: drop-shadow(30px 10px 4px #4444dd);*/
  text-shadow: 1px 6px rgb(166,165,165);
}
